header {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #f79604;
  background: #2d2d2d;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.left {
  margin: 0px 20px;
}

.left_ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_ul > li > a {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.icon {
  margin: 0px 4px;
  font-size: 1.2rem;
}

.right > div > img {
  width: 1.4375rem;
  height: auto;
  margin-left: 16px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(9, 13, 26, 0.4);
}

.right > div > span {
  color: white;
  font-size: 0.9rem;
  margin-left: 5px;
}

.languagewrap {
  display: flex;
  align-items: center;
  width: 9rem;
  background-color: rgba(85, 85, 85, 0.9);
  margin-left: 10px;
  height: 34px;
}

.right > p {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.right > span {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0 0.625rem;
  width: 8rem;
  background-color: rgba(85, 85, 85, 0.9);
}

/* second header */

.bajiContainer {
  width: 100%;
  height: 4.375rem;
  background-color: #1a1919;
  /* background: linear-gradient(to bottom, #1bac7e 0, #14805e 100%); */
  border-bottom: 1px solid #f79604;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bjbajiImg {
  height: auto;
  width: 105px;
  cursor: pointer;
}

.bjbajiwidth {
  margin: 0px 40px;
  /* background-color: red; */
  width: 80rem;
  display: flex;
  justify-content: space-between;
}

.bjbajileft {
  margin: 0;
}

.bjbajiright {
  display: flex;
  align-items: center;
}

.bjbajiright > p {
  margin: 0px 20px;
  border: 1px solid transparent;
  background: 0 0;
  box-shadow: none;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px 30px;
  border-radius: 8px;
  font-weight: 500;
}

.bjbajiright > p:hover {
  border: 1px solid #fbc103;
}

.bjbajiright > button {
  background: linear-gradient(
    to right,
    #fbc103 0,
    #f79604 15%,
    #f79604 30%,
    #fbc103 55%,
    #fbc103 100%
  );
  background-position: 50%0;
  background-size: 200%;
  box-shadow: 0 5px 10px 0 rgba(6, 8, 15, 0.1), inset 0 0 3px 0#ffdd8f;
  color: #fff;
  padding: 7px 35px;
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.5s ease-out 0.1s, background-position 0.3s ease-in,
    text-shadow 0.3s ease-in 0.1s;
  font-size: 1rem;
  font-weight: 500;
}

.bjbajiright > button:hover {
  background: linear-gradient(
    to right,
    #fbc103 0,
    #f79604 15%,
    #f79604 30%,
    #fbc103 55%,
    #fbc103 100%
  );
}

/* header 3 */

.mainsubnav {
  position: relative;
  height: 45px;
  border: 0;
  width: 100%;
  border-top: 1px solid #525252;
  border-bottom: 1px solid #525252;
  background: #3e3e3e;
  text-align: center;
}

.navinner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.navinnerIcon {
  color: #fff;
  font-size: 1.6rem;
  margin-right: 10px;
}

.navinner > li {
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  overflow: hidden;
}

a:hover {
  color: #f79604;
}

.navinner > li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.5s ease-out 0.1s, opacity 0.5s ease-in;
  opacity: 0;
  background: url("./nav-light.png") no-repeat center bottom;
  background-size: 100% 100%;
}

.navinner > li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 1.1rem;
  opacity: 1;
  background: #fff;
  bottom: 0.7rem;
  /* left: 0; */
  margin-left: 27px;
}

/* modal here css */

.modalContainer {
  background-color: #f79604 !important;
}

.paraHeader {
  color: white !important;
}

.closeBtn {
  color: white !important;
}

.inputModal {
  border: 1px solid #f79604 !important;
  outline: none !important;
}

.inputModal:hover {
  outline: none !important;
}

.modalBtn{
  background-color: #f79604 !important;
  color: #fff !important;
}

.labelcolor{
  color: #f79604 !important;
}