.carousel_container {
  width: 100%;
}

.carousel_height {
  height: 100% !important;
}

.top_nav_wrap {
  width: 100%;
  height: 3.5625rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  /* margin: 0px 40px; */
  /* align-self: center; */
}

.right_input {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 5px;
}

.right_input > input {
  font-size: 14px;
  line-height: 20px;
  padding: 0.4375rem 0.925rem;
  transition: background 0.3s ease-in-out 0.1s, box-shadow 0.5s ease-in-out,
    border 0.3s ease-in-out 0.1s;
  border-radius: 5px;
  /* border-color: transparent; */
  outline: 0;
  background: #f2f2f2;
  box-shadow: 0 0.125rem 0.3125rem #e6e6e6 inset;
  color: black;
  letter-spacing: 1px;
}

.left_ul > ul {
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-end; */
  gap: 22px;
  cursor: pointer;
}

.left_ul > ul > li:hover {
  color: #f79604;
  transition: all 0.4s;
}

.icon {
  font-size: 2rem;
  color: gray;
}
